@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Pavithra Venkataraman
    pavi_1011@yahoo.com
    +91 9884010081
</address>

<address>
    <strong>Feedback:</strong>   <a href="mailto:pavi_1011@yahoo.com">pavi_1011@yahoo.com</a><br />    
</address>